body{
	width: 100%;
    margin:0px auto;
    /* font-size: 90%; */
}
/* 
@media only screen and (max-width: 980px){
    body{
        font-size: 100%;
    }
} */

.menu{
    background-color: #08192d;
    display:flex;
    justify-content: space-between; 
    align-items: center;
    color:#fff;
    height: 110px;  
    padding-left: 35px;  
    padding-right: 35px;  
}

.menu .logo{
    padding-left:30px;
}

.menu .solapas{
    padding-right: 125px;
}

.menu .solapa{
    display: inline-block;
    font-family: Montserrat;
    font-size: 16px;
}

.menu .solapas .solapa{
    padding-left: 80px;
}

.menu .opciones-cuenta .solapa{
    padding-left: 10px;
}

.menu .opciones-cuenta .account{
    padding-left: 20px;
    color:#d5142d;
}

.menu .opciones-cuenta .help{
    opacity: .5;
}

/* fin menu 

section music*/

.music{
    background-color: #0a183d;
    display: flex;
    justify-content: center;
    height: calc(90vh - 80px);
    margin:0 auto;
}



.music .carrusel{
    color:#fff;
    text-align: left;
    width: 100%;
    font-family: Montserrat;
    position: relative;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.slide{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: -1;
}
.active{
    opacity: 1;
    z-index: 5;
}
.music-hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrusel-controles{
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    background: red;
}
.music .carrusel h2{
    font-size: 70px;
    margin: 0px;
    line-height: 62px;
    padding-top: 30px;
}

.music .carrusel span{
    color:#fc0254;
}

.music .carrusel p{
    line-height: 27px;
    padding-top: 25px;
    padding-bottom: 50px;
}


.music-hero-image{
    padding: 0px 27px;
    width: 140%;
    height: 100%;
    min-width: 500px;
    max-width: 602px;

}

.music-hero-image img{
    width: 100%;
}

@media only screen and (max-width: 1100px){
    .music-hero-content{
        padding-top:97px;
        padding:0px;
        /* padding-left: 31px; */
        min-width: 480px;
}
.music-hero-image{
    padding-left:0px;
}
}
@media only screen and (max-width: 980px){
    .music-hero-image{
        display: none;
    }
}

.music-hero-content{
    padding-top:45px;
    padding-left: 31px;
    padding-right: 31px;
} 

.boton{
    border-radius: 50px;
    text-align: center;
    padding: 24px 5px;
    font-family: Montserrat;
    font-size: 15px;
    display: inline-block;
    font-weight: lighter; 
    
}

.boton a{
    padding: 24px 25px;
    text-transform: uppercase;
    color:#fff;
    text-decoration: none;
    
    
}

.red{
    background-color: #fc0254;
    min-width: 193px;
}

.gray{
    background-color:#383b70;
    min-width: 150px;
}

/* fin de music section   */
/* comienzo access section  */

.access{
    background-color: #fff;   
    height:100vh;

}

.access-both{
    /* display: flex;
    justify-content: space-around; */
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.access .access-left{
    font-size: 60px;
    font-family: Montserrat;
    text-align: left;
    color:#0a183d;
    padding: 0px 15px;
    line-height: 63px;
   
}

.access .access-right{
    width: 100%;
    max-width: 570px;
    font-size: 15px;
    font-family: Montserrat;
    text-align: left;
    color: #6a7080;
    padding: 0px 15px;
    line-height: 27px;
}