body{
	width: 100%;
    margin:0px auto;
    /* font-size: 90%; */
}
/* 
@media only screen and (max-width: 980px){
    body{
        font-size: 100%;
    }
} */

.menu{
    background-color: #08192d;
    display:flex;
    /* flex-wrap: wrap; */
    justify-content: space-between; 
    align-items: center;
    color:#fff;
    height: 110px;  
    padding-left: 35px;  
    padding-right: 35px;  
}

.menu .logo{
    padding-left:30px;
}

.menu .solapas{
    padding-right: 125px;
}

.menu .solapa{
    display: inline-block;
    font-family: Montserrat;
    font-size: 16px;
}

.menu .solapas .solapa{
    padding-left: 80px;
}

.menu .opciones-cuenta .solapa{
    padding-left: 10px;
}

.menu .opciones-cuenta .account{
    padding-left: 20px;
    color:#d5142d;
}

.menu .opciones-cuenta .help{
    opacity: .5;
}

/* fin menu 

section music*/

.music{
    background-color: #0a183d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: calc(90vh - 80px);
    margin:0 auto;
}



.music .carrusel{
    color:#fff;
    text-align: left;
    width: 100%;
    font-family: Montserrat;
    position: relative;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.slide{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: -1;
}
.active{
    opacity: 1;
    z-index: 5;
}
.music-hero{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}
.carrusel-controles{
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    background: red;
}
.music .carrusel h1{
    font-size: 70px;
    margin: 0px;
    line-height: 62px;
    padding-top: 30px;
    font-weight: 600;
}

.music .carrusel span{
    color:#fc0254;
}

.music .carrusel p{
    
    padding-top: 25px;
    padding-bottom: 50px;
    
}


.music-hero-image{
    padding: 0px 27px;
    width: 140%;
    height: 100%;
    min-width: 500px;
    max-width: 602px;

}

.music-hero-image img{
    width: 100%;
}




.music-hero-content{
    padding-top:45px;
    padding-left: 33px;
    padding-right: 33px;
} 

@media only screen and (max-width: 1100px){
    
.music-hero-image{
    padding-left:0px;
    padding-right:15px;
}
}


.boton{
    border-radius: 50px;
    text-align: center;
    padding: 24px 5px;
    font-family: Montserrat;
    font-size: 15px;
    display: inline-block;
    font-weight: lighter; 
    
}

.boton a{
    padding: 23px 25px;
    text-transform: uppercase;
    color:#fff;
    text-decoration: none;
}

.boton .site{
    padding: 23px 50px;
}

@media only screen and (max-width: 992px){
    .music-hero-image{
        display: none;
    }
    .music-hero-content{
        padding-left: 10px;
        padding-right: 10px;
        width: 50%;
    }
    .boton{
    padding:24px 1px;

}
}





.red{
    background-color: #fc0254;
    
}
 .rojo{
    min-width: 193px;
 padding: 19px 0px;
 }

.gray{
    background-color:#383b70;
    min-width: 150px;
}

/* fin de music section   */
/* comienzo access section  */

.access{
    background-color: #fff; 
    /* padding-bottom: 40px;   */
    /* height:48vh; */

}


.access-both{
    /* display: flex;
    justify-content: space-around; */
    background-color: #fff;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
}

.access .access-left{
    font-size: 60px;
    font-family: Montserrat;
    text-align: left;
    color:#0a183d;
    padding: 0px 15px;
    line-height: 63px;
    font-weight: 600;
    width: 50%;
   
}

.access .access-right{
    /* width: 100%;
    max-width: 570px; */
    width: 50%;
    font-size: 15px;
    font-family: Montserrat;
    text-align: left;
    color: #6a7080;
    /* padding: 0px 15px; */
    padding-top: 13px;
    line-height: 27px;
}

.access .access-right p{
    padding-bottom:2rem ;
}

.works{
    width: 100%;
    background-image:url(../images/how-to-bg.jpg);
    color:#fff;
}

h2{
    font-size: 60px;
    font-family: Montserrat;
    font-weight: 600;
}

p{
    font-size: 15px;
    font-family: Montserrat;
    line-height: 27px;
}

.works h2{
    padding-left: 30px;

}

.steps{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    
}

.step{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
}

.circulo{
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background-color: #fc0254;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
}

.circulo img{
    transform: translate(35px, 10px);
}

.step{
    font-family: Montserrat;
}

.step h3{
    padding-top: 30px;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 600;
}

.step p{
    
    color: rgba(255, 255, 255, .5);
    
}

/* fin de seccion  */
/* comienzo de seccion  */

.concept{
    width: 100%;
    height: 75vh;
}

.concept-texto{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    font-family: Montserrat;
}

.concept-texto div{
    width: 50%;
    padding-left:16px;
    padding-right:16px;
}

.concept-texto .concept-title h2{
    color:#0a183d;
    font-size: 60px;
    font-weight: 600;
    padding: 0px 10px;
}
 
.concept-texto .concept-p p{   
    color:#6a7080;
}

.espacios{
    padding-top: 105px;
    padding-bottom: 105px;
}
.fotografias{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.fotografias .fotografia img{
    border-radius: 15%;
}

.fotografias .fotografia span{
    display: block;
    text-align: center;
    padding-top: 10px;
    font-family: Montserrat;
    color:#0a183d;
    font-weight: 600;
    font-size: 18px;
}

.subscription{
    background-color: #0a183d;
    color: #ffffff;
}

.subscription-left, .subs-list{
    width: 50%;
    padding:0px 10px;
}

.subscription-left span{
    font-family: Montserrat;
    color: #fc0254;
    font-size: 30px;
    font-weight: 500;
}

.subscription-left h2{
    padding-bottom: 20px;
    font-weight: 500;
    padding-bottom:20px;
    padding-left:4px;
    padding-right: 4px;
}

.subscription-left p{
    padding-top: 30px;
    padding-bottom: 35px;
    opacity: .5;
}

.subscription-left div.boton.red.rojo{
    padding:23px 0px;
}

.subs-list{
    background-color: #1c294a;
    border-radius: 10%;
    display:flex;
    align-items: center; 
    justify-content:center;
    opacity:.8;
}
  

.subs-list li{
    font-family: Montserrat;
    font-size: 18px;
    padding: 15px 0px;
    vertical-align: center;
}

.subs-list li img{
    padding-right: 2rem;
}
 
.nuevas .fotografia img{
    
    border-radius: 50%;
}
.nuevas .fotografia p{
    color: #6a7080;
    text-align: center;
}

.subscription .steps{
    display: flex;
    justify-content: space-around;
}

.footer{
    color: #6a7080;
}

.footer-left{
    width: 100%;
    padding: 0px 15px;
}

.footer-left p{
    font-size: 11px;
    color:#6a7080;
    font-family: Montserrat;
    padding-top: 5px;
    padding-bottom: 20px;
}

.footer-left p a{
    color:#0946f2;
    text-decoration: none;
}
.footer-left .logo{
    display: flex;
    flex-direction: row;
}

.footer-left .logo i{
    padding-right: 20px;
}

.footer-right{
    display: flex;
    justify-content: space-around;
    width: 100%;
   
}

.footer-right h2{
    font-size: 16px;
    color: #ffffff;
    padding-bottom: 40px;
}

.footer-right .items div{
    font-size: 14px;
    padding-bottom: 20px;
    font-family: 'Montserrat';

}

@media only screen and (max-width: 650px){
    .container{
        display: inline-block;
        padding-left: 50px;
        
    }

    .boton{
        padding:24px 1px;
    
    }
    .subs-list{
        flex-wrap: wrap;
    }
    .fotografias{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 70px;
        display: flex;
        flex-wrap: wrap;
    }
    .concept-texto, .circulo, .steps, .access-both, .music-hero, .music, .menu{
        flex-wrap: wrap;
    }
}

